
      .firstbox,.secondbox{
        display: block;
        width: 300px;
font-size: 15px;
padding-left: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-top: 10px;
border: none;
margin-bottom: 10px;
background-color: rgba(235, 230, 230, 0.925);
      }
      .black{
        color: white;
        background-color:black;
        border: none;
        width: 130px;
        padding-right: 20px;
        font-size: 13px;
padding-bottom: 10px;
padding-top: 10px;
      }.schedule{
        color: rgb(6, 6, 6);
        background-color:rgba(235, 230, 230, 0.925);
        border: none;
        width: 130px;
        padding-right: 20px;
        font-size: 13px;
        font-weight: 400;
       margin-left: 10px;
padding-bottom: 10px;
padding-top: 10px;
      }
    