 p{
        color: rgb(100, 98, 98);;
      }
      .mail{
        margin-bottom: 5px;
      }
      .box{
        width: 365px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-width: 2px;
        border-radius: 2px;
        border-color: rgb(15, 15, 15);
        margin-top: 0px;
        
      }
      .btn{
        background-color: rgb(51, 114, 230);
        border: none;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 20px;
        color: white;
        width:370px
        
      }
      .btn:hover{
        cursor: pointer;
      }